#后缀名
*.csproj
*.sln
*.unityproj
*.userprefs
*.vs
*.vscode
*.vsconfig
*.idea
*.pyc

#文件夹
Recordings
Test
Build
BuiltinFiles
Library
Packages
ServerData
Temp
UserSettings
obj
Root~
_TerrainAutoUpgrade
Logs
AddressableAssetsData
StreamingAssets
GeneratedLocalRepo
Gen
HybridCLRData

#meta
_TerrainAutoUpgrade.meta

#具体文件
build_info
sysinfo.txt

#黑名单
[Bb]undles
[Ss]andbox
[Bb]uild

#白名单

